body{
    background: url("../images/wallpaper.jpg");
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: Verdana, serif;
}

header{
    text-align: center;
    height: 80px;
}

.btn{
    background: url("../images/brick.jpg");
    border-radius: 4px;
    height: 35px;
    width: 95px;
    font-size: 16px;
    color:white;
    margin-left: 10px;
    line-height: 10px;
}

.container{
    max-width: 960px;
    margin:auto;
    text-align: center;
}

.messagesDiv{
    margin: 20px 0;
}

input, button{
    margin-top: 15px;
    height: 20px;
}

.hidden{
    display:none;
}

.intro{
    /* border:2px solid white; */
    height: 600px;
    width: 800px;
    margin: 20px auto;
}

input{
    alight: left;
}

.info{

    border: 20px solid #9D4E02;
    border-radius: 30px;
    height: 400px;
    width: 600px;
    margin: 30px auto;
}

.inner_info{
    background: url("../images/chalkonboard.jpg");
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 26px;
    border: 10px solid #100D1B;
    border-radius: 10px;
    height: 380px;
    width: 580px;
}

h2{
    margin-top:0;
}

.game_window{
    width: 960px;
    height: 600px;
    margin: 10px auto;
}

.game_board{
    background: url("../images/game_board.jpg");
    width: 550px;
    height: 550px;
    display:inline-block;
    margin-left: 0;
}

.chat{
    background: url("../images/chatboard.jpg");
    width: 290px;
    height: 540px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left: 20px;
    text-align: left;
    padding: 5px;
    line-height: 18px;
}

p{
    margin:0px;
}

.chat input{
    width: 284px;
}

footer{
    padding: 10px 30px 0 0;
    text-align: right;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
}