body{
    background: url("../images/wallpaper.jpg");
    margin:0;
    padding:0;
    font-size: 16px;
    color:white;
    font-family: Verdana, serif;
}

header{
    text-align: center;
    height: 80px;
}

.links{
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 75px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    transition: color 0.5s, text-shadow 0.5s;
}

.links:hover{
    color: rgba(178, 91, 10, 1);
    text-shadow: 3px 3px 3px white;
}

.btn, header a{
    background: url("../images/brick.jpg");
    border-radius: 4px;
    height: 35px;
    width: 95px;
    font-size: 16px;
    color:white;
    margin-left: 10px;
    line-height: 10px;
    transition: box-shadow 0.5s;
    border:1px solid white;
}

.btn:hover, header a:hover{
    box-shadow: 2px 2px 4px white;
}

.btn:focus{
    border:0;
    outline:0;
}

header a {
    background-size: cover;
    padding: 8px 25px;
    text-decoration: none;
}

#registration{
    padding: 8px 14px;
}

.container{
    max-width: 960px;
    margin:auto;
    text-align: center;
}

.messagesDiv{
    margin: 20px 0;
}

input, button{
    margin-top: 15px;
    height: 20px;
}

.hidden{
    display:none;
}

.intro{
    height: 600px;
    width: 800px;
    margin: 20px auto;
}

input{
    text-align: left;
}

.info{
    border: 20px solid #9D4E02;
    border-radius: 30px;
    height: 400px;
    width: 600px;
    margin: 30px auto;
}

.inner_info{
    background: url("../images/chalkonboard.jpg");
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 26px;
    border: 10px solid #100D1B;
    border-radius: 10px;
    height: 380px;
    width: 580px;
}

h2{
    margin-top:0;
}

.game_window{
    width: 960px;
    height: 600px;
    margin: 10px auto;
}

.board{
    background: url("../images/game_board.jpg");
    width: 550px;
    height: 550px;
    display:inline-block;
    margin-left: 0;
}

.board_cells{
    margin-top: 50px;
}

.cell{
    border: 1px solid white;
    display:inline-block;
    height: 130px;
    width: 130px;
    margin: 5px 0 0 5px;
    vertical-align: top;
}

.chat{
    background: url("../images/chatboard.jpg");
    width: 290px;
    height: 540px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left: 20px;
    text-align: left;
    padding: 5px;
    line-height: 20px;
}

p{
    margin:0px;
}

.chat input{
    width: 284px;
}

footer{
    padding: 10px 30px 0 0;
    text-align: right;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
}